<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>カードゲーム</title>
</head>

<body>
  <h2>ユーザー名：<a sec:authentication="name"></a></h2>
  <h2>あなたのHP : <span th:if="${Hp}">[[${Hp}]]</span></h2>

  <h2>攻撃がきました!！防御しますか？</h2>

  <div>[[${attackPoint}]]の強さの攻撃</div>
  <button onclick="noBlockFunk()">防御しない</button>

  <h3>防御札一覧</h3>
  <div>
    <ul>
      <nobr th:each="playerhand : ${playerhand}">
        <a th:href="@{/block(id=${playerhand.id},roomid=${roomsId})}">
          <nobr style="text-align: center">
            <nobr th:if="${playerhand.id} == 11"><img src="img/防具1.png" width="200" height="200"></nobr>
            <nobr th:if="${playerhand.id} == 12"><img src="img/防具2.png" width="200" height="200"></nobr>
            <nobr th:if="${playerhand.id} == 13"><img src="img/防具3.png" width="200" height="200"></nobr>
            <nobr th:if="${playerhand.id} == 14"><img src="img/防具4.png" width="200" height="200"></nobr>
            <nobr th:if="${playerhand.id} == 15"><img src="img/防具5.png" width="200" height="200"></nobr>
            <nobr th:if="${playerhand.id} == 16"><img src="img/防具6.png" width="200" height="200"></nobr>
            <nobr th:if="${playerhand.id} == 17"><img src="img/防具7.png" width="200" height="200"></nobr>
            <nobr th:if="${playerhand.id} == 18"><img src="img/防具8.png" width="200" height="200"></nobr>
            <nobr th:if="${playerhand.id} == 19"><img src="img/防具9.png" width="200" height="200"></nobr>
            <nobr th:if="${playerhand.id} == 20"><img src="img/防具10.png" width="200" height="200"></nobr>
          </nobr>
        </a>
      </nobr>
    </ul>
  </div>


  <!--防御しないボタンを押した際にroomidをパラメータとして渡すためのjavascript-->
  <script>
    function noBlockFunk() {
      //現在のパラメータを取得
      const params = new URLSearchParams(window.location.search);
      const paramName = 'roomid';
      const paramValue = params.get(paramName);
      //パラメータを含めたUrlを生成
      var href = "/noBlock?roomid=";
      window.location.href = href + paramValue;
    }
  </script>
</body>

</html>
