<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    h2 {
      text-align: center;
    }

    h1 {
      text-align: center;

      position: absolute;
      bottom: 0;
    }
  </style>
  <title>カードゲーム</title>
  <script>
    window.onload=function(){
      const params = new URLSearchParams(window.location.search);
      const paramName = 'roomid';
      const paramValue = params.get(paramName);
      var sse = new EventSource('/HPasync?roomid='+paramValue);
        sse.onmessage=function(event){
          var hp_list=JSON.parse(event.data);
            var user1Hpdata = hp_list[0].hp;
            var user2Hpdata = hp_list[1].hp;
          var div=document.getElementById("HP");
          div.innerHTML=user1Hpdata + "aa" + user2Hpdata;
        }
    }

  </script>
</head>

<body>
  <div>
    <h2><span sec:authentication="name"></span> のHP : <span th:if="${hp}" th:text="${hp}"></span></h2>
  </div>
  <div><span th:if="${enemy}" th:text="${enemy.userName}"></span>のHP :<span th:if="${enemy}"
      th:text="${enemy.hp}"></span></div>

  <div>
    <h2>
      <button onclick="drawfunk()">ドロー</button>
      <button onclick="location.href='/gamearea'">戻る</button>
      <button onclick="location.href='/logout'">ログアウト</button>
    </h2>

  </div>

  <div id="HP"></div>

  <div>
    <ul>
      <h1>
        <li th:each="playerhand : ${playerhand}"><a
            th:href="@{/cardUse(id=${playerhand.id},roomid=${roomsId})}">カード属性:[[${playerhand.cardAttribute}]]
            強さ:[[${playerhand.cardStrong}]]</a></li>
      </h1>
    </ul>
  </div>

  <div style="text-align: center">
    <img src="src/main/resources/templates/img/剣.jpg">
  </div>

  <!--以下はjavascriptで各操作時に部屋のidをパラメータとして渡す-->
  <script>

    //ドローのボタンが押された際の処理
    function drawfunk() {
      //現在のパラメータを取得
      const params = new URLSearchParams(window.location.search);
      const paramName = 'roomid';
      const paramValue = params.get(paramName);
      //パラメータを含めたUrlを生成
      var href = "/draw?roomid=";
      window.location.href = href + paramValue;
    }

  </script>
</body>

</html>
