<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>カードゲーム</title>
  <script>
    window.onload = function () {
      var sse = new EventSource('/active');
      sse.onmessage = function (event) {
        var active_list = JSON.parse(event.data);
        var active_div = "<h2>部屋一覧</h2>";
        for (var i = 0; i < active_list.length; i++) {
          active_div = active_div + "<p><a href=" + "/inroom?roomid=" + active_list[i].id + ">" + active_list[i].roomName + "</a></p>";
        }
        var div = document.getElementById("active_room");
        div.innerHTML = active_div;
      }
    }
  </script>

  <style>
    .gradient { 
      background:radial-gradient(#fff, #56C500); 
      height: 950px;
      border: 1px solid #333;
  }
  </style>

</head>

<body class="gradient">
  <h1>ようこそ！</h1>
  <h2>ユーザー名：<a sec:authentication="name"></a></h2>

  <div>
    <button onclick="location.href='/User'">ユーザの表示</button>
    <ul>
      <li th:each="user : ${users}">
        [[${user.userName}]]
      </li>
    </ul>
  </div>

  <div th:if="${AlreadyRoom}">
    既に[[${AlreadyRoom}]]は存在しています
  </div>
  <p>
  <form action="/room" method="get">
    <input type="textarea" name="roomName" />
    <input type="submit" value="作成" />
  </form>
  </p>

  <div id="active_room"></div>


  <button onclick="location.href='/logout'">ログアウト</button>
</body>

</html>
