<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    h2 {
      text-align: center;
    }

    h1 {
      text-align: center;

      position: absolute;
      bottom: 0;
    }
  </style>
  <title>カードゲーム</title>
  <script>
    window.onload=function(){
      const params = new URLSearchParams(window.location.search);
      const paramName = 'roomid';
      const paramValue = params.get(paramName);
      var sse = new EventSource('/HPasync?roomid='+paramValue);
        sse.onmessage=function(event){
          var hp_list=JSON.parse(event.data);
          //自身のユーザ名とhpの取得
          var myName=hp_list[0].userName;
          var myHpdata = hp_list[0].hp;

          //相手のユーザ名とhpの取得
          var enemyName=hp_list[1].userName;
          var enemyHpdata = hp_list[1].hp;

          //自身と相手のユーザ名とhpの表示場所の取得
          var myHp=document.getElementById("myHp");
          var enemyHp=document.getElementById("enemyHp");

          //自身と相手のユーザ名とデータを表示
          myHp.innerHTML="<h2>"+myName+"のHP:"+myHpdata+"</h2>";
          enemyHp.innerHTML= "<h2>" + enemyName + "のHP:" + enemyHpdata + "</h2>";
        }
    }

  </script>
</head>

<body>
  <div id="myHp">
    <h2><span sec:authentication="name"></span> のHP : <span th:if="${hp}" th:text="${hp}"></span></h2>
  </div>
  <div id="enemyHp">
    <h2><span th:if="${enemy}" th:text="${enemy.userName}"></span>のHP :<span th:if="${enemy}"
      th:text="${enemy.hp}"></span></h2>
  </div>
  <div th:if="${turns}">[[${turns}]]のターン</div>
  <div>
    <h2>
      <button onclick="drawfunk()">ドロー</button>
      <button onclick="location.href='/gamearea'">戻る</button>
      <button onclick="location.href='/logout'">ログアウト</button>
    </h2>

  </div>

  <div id="HP"></div>

  <div>
    <ul>
        <div th:each="playerhand : ${playerhand}">
          <h2 th:href="@{/cardUse(id=${playerhand.id},roomid=${roomsId})}">
            <div th:if="${playerhand.id} == 1"><img id="choice" src="img/武器1.png" width="50" height="50"></div>
            <div th:if="${playerhand.id} == 2"><img id="choice" src="img/武器2.png" width="50" height="50"></div>
            <div th:if="${playerhand.id} == 3"><img id="choice" src="img/武器3.png" width="50" height="50"></div>
            <div th:if="${playerhand.id} == 4"><img id="choice" src="img/武器4.png" width="50" height="50"></div>
            <div th:if="${playerhand.id} == 5"><img id="choice" src="img/武器5.png" width="50" height="50"></div>
            <div th:if="${playerhand.id} == 6"><img id="choice" src="img/武器6.png" width="50" height="50"></div>
            <div th:if="${playerhand.id} == 7"><img id="choice" src="img/武器7.png" width="50" height="50"></div>
            <div th:if="${playerhand.id} == 8"><img id="choice" src="img/武器8.png" width="50" height="50"></div>
            <div th:if="${playerhand.id} == 9"><img id="choice" src="img/武器9.png" width="50" height="50"></div>
            <div th:if="${playerhand.id} == 10"><img id="choice" src="img/武器10.png" width="50" height="50"></div>
            <div th:if="${playerhand.id} == 11"><img id="choice" src="img/防具1.png" width="50" height="50"></div>
            <div th:if="${playerhand.id} == 12"><img id="choice" src="img/防具2.png" width="50" height="50"></div>
            <div th:if="${playerhand.id} == 13"><img id="choice" src="img/防具3.png" width="50" height="50"></div>
            <div th:if="${playerhand.id} == 14"><img id="choice" src="img/防具4.png" width="50" height="50"></div>
            <div th:if="${playerhand.id} == 15"><img id="choice" src="img/防具5.png" width="50" height="50"></div>
            <div th:if="${playerhand.id} == 16"><img id="choice" src="img/防具6.png" width="50" height="50"></div>
            <div th:if="${playerhand.id} == 17"><img id="choice" src="img/防具7.png" width="50" height="50"></div>
            <div th:if="${playerhand.id} == 18"><img id="choice" src="img/防具8.png" width="50" height="50"></div>
            <div th:if="${playerhand.id} == 19"><img id="choice" src="img/防具9.png" width="50" height="50"></div>
            <div th:if="${playerhand.id} == 20"><img id="choice" src="img/防具10.png" width="50" height="50"></div>
            <div th:if="${playerhand.id} == 21"><img id="choice" src="img/回復1.png" width="50" height="50"></div>
            <div th:if="${playerhand.id} == 22"><img id="choice" src="img/回復2.png" width="50" height="50"></div>
            <div th:if="${playerhand.id} == 23"><img id="choice" src="img/回復3.png" width="50" height="50"></div>
            <div th:if="${playerhand.id} == 24"><img id="choice" src="img/回復4.png" width="50" height="50"></div>
            <div th:if="${playerhand.id} == 25"><img id="choice" src="img/回復5.png" width="50" height="50"></div>
            <div th:if="${playerhand.id} == 26"><img id="choice" src="img/回復6.png" width="50" height="50"></div>
            <div th:if="${playerhand.id} == 27"><img id="choice" src="img/回復7.png" width="50" height="50"></div>
            <div th:if="${playerhand.id} == 28"><img id="choice" src="img/回復8.png" width="50" height="50"></div>
            <div th:if="${playerhand.id} == 29"><img id="choice" src="img/回復9.png" width="50" height="50"></div>
            <div th:if="${playerhand.id} == 30"><img id="choice" src="img/回復10.png" width="50" height="50"></div>
          </h2>
          カード属性:[[${playerhand.cardAttribute}]]
            強さ:[[${playerhand.cardStrong}]]
        </div>
    </ul>
  </div>

  <!--以下はjavascriptで各操作時に部屋のidをパラメータとして渡す-->
  <script>
    //ダメージのボタンが押された際の処理
    function attackfunk() {
      console.log("攻撃しました")
    }

    //回復のボタンが押された際の処理
    function healfunk(){
      console.log("回復されました")
    }

    function guardfunk(){
      console.log("防御しました")
    }

    //ドローのボタンが押された際の処理
    function drawfunk() {
      //現在のパラメータを取得
      const params = new URLSearchParams(window.location.search);
      const paramName = 'roomid';
      const paramValue = params.get(paramName);
      //パラメータを含めたUrlを生成
      var href = "/draw?roomid=";
      window.location.href = href + paramValue;
    }

  </script>
</body>

</html>
