<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <style>
    h2 {
      text-align: center;
    }

    h1 {
      text-align: center;

      position: absolute;
      bottom: 0;
    }
  </style>
  <title>カードゲーム</title>
  <script>
    window.onload = function () {
      const params = new URLSearchParams(window.location.search);
      const paramName = 'roomid';
      const paramValue = params.get(paramName);
      var sse = new EventSource('/HPasync?roomid=' + paramValue);
      sse.onmessage = function (event) {
        var flag = JSON.parse(event.data);
        if (flag == 0) {
          //ページの再読み込み
          window.location.href = "/reRoad?roomid=" + paramValue
        } else {
          //攻撃が来たということなので防御用のページに遷移
          location.href = "/Wait?roomid=" + paramValue;
        }
      }
    }

  </script>
</head>

<body background="img/背景.jpg">
  <div id="myHp">
    <h2><font color="white"><span sec:authentication="name"></span> のHP : <span th:if="${hp}" th:text="${hp}"></span></font></h2>
  </div>
  <div id="enemyHp">
    <h2>
      <font color="white">
      <span th:if="${enemy}" th:text="${enemy.userName}"></span>のHP :<span th:if="${enemy}"
        th:text="${enemy.hp}"></span>
      </font>
    </h2>
  </div>

  <h2 id="turn">
    <font color="white">
      <nobr th:if="${turns}">[[${turns}]]のターン
        <nobr th:if="${turns==enemy.userName}">
          <nobr class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </nobr>
        </nobr>
      </nobr>
    </font>
  </h2>

  <div>
    <center>
      <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <button type="button" class="btn btn-outline-primary btn-lg" onclick="drawfunk()">ドロー</button>
      </div>
    </center>

  </div>

  <!--あたえたダメージを表示-->
  <h2 th:if="${attackPoint}">
    <font color="white">
      [[${attackPoint}]]のダメージをあたえました
    </font>
  </h2>

  <center>
    <div th:if="${result}">

        [[${result}]]
      <button onclick="location.href='/gamearea'">ゲーム終了</button>
    </div>
  </center>

  <div id="HP"></div>

  <div>
    <h2>
      <nobr th:each="playerhand : ${playerhand}">
        <a th:href="@{/cardUse(id=${playerhand.id},roomid=${roomsId})}">
          <nobr style="text-align: center">
            <nobr th:if="${playerhand.id} == 1"><img src="img/武器1.png" width="200" height="200"></nobr>
            <nobr th:if="${playerhand.id} == 2"><img src="img/武器2.png" width="200" height="200"></nobr>
            <nobr th:if="${playerhand.id} == 3"><img src="img/武器3.png" width="200" height="200"></nobr>
            <nobr th:if="${playerhand.id} == 4"><img src="img/武器4.png" width="200" height="200"></nobr>
            <nobr th:if="${playerhand.id} == 5"><img src="img/武器5.png" width="200" height="200"></nobr>
            <nobr th:if="${playerhand.id} == 6"><img src="img/武器6.png" width="200" height="200"></nobr>
            <nobr th:if="${playerhand.id} == 7"><img src="img/武器7.png" width="200" height="200"></nobr>
            <nobr th:if="${playerhand.id} == 8"><img src="img/武器8.png" width="200" height="200"></nobr>
            <nobr th:if="${playerhand.id} == 9"><img src="img/武器9.png" width="200" height="200"></nobr>
            <nobr th:if="${playerhand.id} == 10"><img src="img/武器10.png" width="200" height="200"></nobr>
            <nobr th:if="${playerhand.id} == 11"><img src="img/防具1.png" width="200" height="200"></nobr>
            <nobr th:if="${playerhand.id} == 12"><img src="img/防具2.png" width="200" height="200"></nobr>
            <nobr th:if="${playerhand.id} == 13"><img src="img/防具3.png" width="200" height="200"></nobr>
            <nobr th:if="${playerhand.id} == 14"><img src="img/防具4.png" width="200" height="200"></nobr>
            <nobr th:if="${playerhand.id} == 15"><img src="img/防具5.png" width="200" height="200"></nobr>
            <nobr th:if="${playerhand.id} == 16"><img src="img/防具6.png" width="200" height="200"></nobr>
            <nobr th:if="${playerhand.id} == 17"><img src="img/防具7.png" width="200" height="200"></nobr>
            <nobr th:if="${playerhand.id} == 18"><img src="img/防具8.png" width="200" height="200"></nobr>
            <nobr th:if="${playerhand.id} == 19"><img src="img/防具9.png" width="200" height="200"></nobr>
            <nobr th:if="${playerhand.id} == 20"><img src="img/防具10.png" width="200" height="200"></nobr>
            <nobr th:if="${playerhand.id} == 21"><img src="img/回復1.png" width="200" height="200"></nobr>
            <nobr th:if="${playerhand.id} == 22"><img src="img/回復2.png" width="200" height="200"></nobr>
            <nobr th:if="${playerhand.id} == 23"><img src="img/回復3.png" width="200" height="200"></nobr>
            <nobr th:if="${playerhand.id} == 24"><img src="img/回復4.png" width="200" height="200"></nobr>
            <nobr th:if="${playerhand.id} == 25"><img src="img/回復5.png" width="200" height="200"></nobr>
            <nobr th:if="${playerhand.id} == 26"><img src="img/回復6.png" width="200" height="200"></nobr>
            <nobr th:if="${playerhand.id} == 27"><img src="img/回復7.png" width="200" height="200"></nobr>
            <nobr th:if="${playerhand.id} == 28"><img src="img/回復8.png" width="200" height="200"></nobr>
            <nobr th:if="${playerhand.id} == 29"><img src="img/回復9.png" width="200" height="200"></nobr>
            <nobr th:if="${playerhand.id} == 30"><img src="img/回復10.png" width="200" height="200"></nobr>
          </nobr>
        </a>
      </nobr>
    </h2>
  </div>

  <!--以下はjavascriptで各操作時に部屋のidをパラメータとして渡す-->
  <script>
    //ダメージのボタンが押された際の処理
    function attackfunk() {
      console.log("攻撃しました")
    }

    //回復のボタンが押された際の処理
    function healfunk() {
      console.log("回復されました")
    }

    function guardfunk() {
      console.log("防御しました")
    }

    //ドローのボタンが押された際の処理
    function drawfunk() {
      //現在のパラメータを取得
      const params = new URLSearchParams(window.location.search);
      const paramName = 'roomid';
      const paramValue = params.get(paramName);
      //パラメータを含めたUrlを生成
      var href = "/draw?roomid=";
      window.location.href = href + paramValue;
    }

  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>
